.button {
    --type: transparent;
    --fill: transparent;
    display: flex;
    gap: var(--space-sm);
    font-size: var(--fs-200);
    line-height: var(--lh-1);
    text-decoration: none;
    cursor: pointer;
    padding: .5em 1em;
    border-width: .1em;
    border-style: solid;
    border-color: var(--type);
    border-radius: var(--round-sm);
    transition: all 500ms cubic-bezier(0.075, 0.82,
    0.165, 1);

    background-color: var(--fill);
    color: var(--type);
    max-width: max-content;
}
.button svg {
    height: var(--fs-200);
}
.button:focus {
    outline: none;
}
.button:is(:hover, :focus-visible) {
    box-shadow:
    0 0 0 3px var(--bkg),
    0 0 0 6px var(--type);
}
.primary {
    --type: var(--accent);
}
.secundary {
    --type: var(--accent2);
}
.third {
    --type: var(--accent3);
}
.filled {
    --fill: var(--type);
    color: var(--bkg);
}